<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Adding Employees</title>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/EmployeeAdd.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/app/app.css" />
</head>
<body ng-app="empapp" ng-controller="EmployeeAdd">
<form ng-submit="EmpSave()">
	<div class="background">
		<div class="center">
			<div class="content">
				<h2>Add Employee</h2>
				<br><br>
				<div>
				<input type="text" id="username" ng-model="userForm.userName" placeholder="Enter the UserName" /> 
				<input type="text" id="password" ng-model="userForm.passWord" placeholder="Enter the PassWord">
				</div>
				<div> 
				<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>
</body>
</html>
