<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login here</title>
<style>
user {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
</style>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/LoginController.js"></script>
<link rel="stylesheet" href="css/app/app.css" />
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
</head>

<body ng-app="log">
	<!-- <img ng-src="login.jpg" alt="descp"/> -->

	<form name="Loginform">
		<!-- <h1>{{username}}</h1> -->
		<div class="center" ng-controller="LoginController">
			<h1>Login here !</h1>
			<img alt="" ng-src="./images/img_icon.png" style="width: 100px" />
			<!-- 	<h1>Login here</h1> -->
			
			<div class="form-group" ng-class="{'has-error': loginform.username.$invalid && loginform.username.$dirty, 'has-success':loginform.username.$valid}">
				<label for="username"><b>Username:</b></label><input type="text"
					id="username" name="username" ng-model="username"
					placeholder="enter the user name" />
			</div>

			<div class="form-group">
				<label for="password"><b>Password:</b></label><input type="text"
					id="password" name="password" ng-model="password"
					placeholder="enter the password" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
			</div>
			<!-- <img alt="" ng-src="./images/image.jpg" /> -->
		</div>
	</form>
</body>
</html>