<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login here</title>
<style>
body {
	background-image: url('./images/image.jpg');
	/* text-align: center; */
	/* border: 3px solid green; */
}

user {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


</style>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/LoginController.js"></script>
<link rel="stylesheet" href="css/app/app.css" />
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
</head>

<body ng-app="log">
	<!-- <img ng-src="login.jpg" alt="descp"/> -->
	<div ng-controller="LoginController as vm">
		<div class="center">
			<div class="container-holder">
				<h1>Login here</h1>
				<img alt="" ng-src="./images/img_icon.png" style="width: 100px" />
				<!-- 	<h1>Login here</h1> -->
				<div>
				<div>
				<span>Username:</span>
				<label for="username"><b>Username:</b></label>
				</div>
					
					<input type="text"
						id="username" name="username" ng-model="username"
						placeholder="enter the user name" />
				</div>

				<div>
					<label for="password"><b>Password:</b></label><input type="text"
						id="password" name="password" ng-model="password"
						placeholder="enter the password" />
				</div>

				<div>
					<button type="submit" class="btn btn-primary" ng-click="loginer()">Login</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>