<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login here</title>
<style>
user {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
</style>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/LoginController.js"></script>
<link rel="stylesheet" href="css/app/app.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/lib/bootstrap.min.css" /> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="log" ng-controller="LoginController" >
	<!-- <img ng-src="login.jpg" alt="descp"/> -->

	<form  name="loginform" novalidate>
		<!-- <h1>{{username}}</h1> -->
		<div class="center" >
			<h1>Login here !</h1>
			<img alt="" ng-src="./images/img_icon.png" style="width: 100px" />
			<!-- 	<h1>Login here</h1> -->

			<div class="form-group" >
				<label for="username"><b>Username:</b></label> 
				<div class="col-md-12">
				<span class="input-group input-group-md"></span>
				<span class="glyphicon glyphicon-user"></span>				
				<input type="text" id="username" name="username" ng-model="username" placeholder="enter the user name" required/> 
				<p style="color:red;" ng-show="loginform.username.$touched && loginform.username.$invalid"> User name is required</p>
			
			</div>
			</div>

			<div class="form-group" >
				<div class="col-md-12">
				<label for="password"><b>Password:</b></label>
				<span class="input-group input-group-md"></span>
				<span class="glyphicon glyphicon-lock"></span>
				
				<input  type="text" id="password" name="password" ng-model="password" placeholder="enter the password" ng-minLength="3" required/>
					<p style="color: red;" ng-show="loginform.password.$touched && loginform.password.$invalid">Please Enter at least 3 characters</p>
			</div></div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary" ng-disabled="loginform.username.$invalid || loginform.password.$invalid" ng-click="login()">Login</button>
			</div>
			<!-- <img alt="" ng-src="./images/image.jpg" /> -->
		</div>
	</form>
</body>
</html>